.login__input {
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 1px solid #ccc;
  padding-bottom: 13px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  max-width: 358px;
}

@media screen and (max-width: 530px) {
  .login__input {
    max-width: 260px;
  }
}
