.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 282px;
  position: relative;
}
