.popup-image__button-close {
  background-image: url('../../../images/close_icon.svg');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-size: contain;
  border: 0;
  position: absolute;
  top: -40px;
  left: 102%;
}

.popup-image__button-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 530px) {
  .popup-image__button-close {
    width: 20px;
    height: 20px;
    left: 92%;
    top: -36px;
  }
}