.header {
  max-width: 880px;
  display: flex;
  margin: 0 auto 40px;
  flex-direction: column;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-top: 45px;
}

@media screen and (max-width: 910px) {
  .header {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media screen and (max-width: 325px) {
  .header {
    margin-bottom: 38px;
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
